---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import GithubIcon from "../components/icons/Github.astro";
import SocialPill from "../components/SocialPill.astro"
import EmailIcon from "../components/icons/Email.astro";
import Experience from "../components/Experience.astro";
import SectionZip from "../components/SectionZip.astro"
import Briefcase from "../components/icons/Briefcase.astro";
---

<Layout title="Portfolio de Marco Rosas - Estudiante de la carrera de ingeniería de software"
        description="Contactame por mi correo o la pagina de LinkedIn">
  <main>
    <SectionZip id="top" class="py-32 pb-16">
      <img
        class="rounded-full size-12 mb-5"
        src="../../images/foto.jpg"
        alt="my photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, soy marco
        <a
          href="https://www.linkedin.com/in/marcorosas1008"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
    
      <h2 class="text-2xl text-wrap">
        <span>Actualmente estudiando.</span>
        <span class="text-yellow-200/90"
          >Desarrollador web con conocimientos en javascript y React.</span
        >
        <span class="text-red-200/90">Soy de Lima, Perú </span> y estoy
        <span class="opacity-80"
          >enfocado en generar proyectos que ayuden a mejorar la vida de las
          personas</span>
      </h2>

      <nav class="flex gap-x-4 mt-6">
          <SocialPill href="https://www.linkedin.com/in/marcorosas1008">
            <LinkedinIcon class="size-6" />
            LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/MarcoRosas49">
            <GithubIcon class="size-6" />
            Github
          </SocialPill>
          <SocialPill href="https://www.gmail.com/">
            <EmailIcon class="size-6" />
            marcorosas1008@gmail.com
          </SocialPill>
      </nav>
    </SectionZip>

    <SectionZip id="experiencia">
      <h2 class="text-2xl font-semibold mb-7 flex gap-x-3 items-center">
        <Briefcase class="size-7"/>
        Experiencia laboral
      </h2>
      <Experience />
    </SectionZip>
  </main>
</Layout>
