---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Noviembre 2020 - Marzo 2021',
        title: 'Asistente técnico - Hernandez Randrich',
        description: ' Brindé asistencia remota a usuarios para solucionar problemas con dispositivos y colaboré con el equipo técnico para analizar y resolver incidencias complejas',
        link: 'https://www.bing.com/ck/a?!&&p=81c5b0f0e74f35ddJmltdHM9MTcxMTc1NjgwMCZpZ3VpZD0wZGU5Nzc5NC00ODM5LTZhNTctMDY1NS02M2QzNDlkNDZiMDMmaW5zaWQ9NTE5MQ&ptn=3&ver=2&hsh=3&fclid=0de97794-4839-6a57-0655-63d349d46b03&psq=mdy+hernandez+randrich&u=a1aHR0cHM6Ly9wZS5saW5rZWRpbi5jb20vY29tcGFueS9oZXJuYW5kZXotcmFuZGljaC1hc29jaWFkb3M&ntb=1',
    },
    /*
    {
        date: '',
        title: '',
        description: '',
        link: '#',
    },
    {
        date: '',
        title: '',
        description: '',
        link: '#',
    }
    */
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4 mt-4">

    {
        EXPERIENCE.map( exp => (
        <li class="mb-10 ms-5">
            <ExperienceItem { ...exp} />
        </li>
        ))
    }

</ol>
