---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Marzo 2024',
        title: 'CRUD Videogame',
        description: 'Proyecto del consumo de una API de videojuegos en el que se usa tecnologías como React, Node.js, Express y un ORM de sequelize',
        link: '#',
    },
    {
        date: 'Febrero 2024',
        title: 'Proyecto CivilityCare',
        description: 'Proyecto desarrollado en la universidad para ver los casos de COVID en el Perú',
        link: '#',
    },
    {
        date: 'Enero 2024',
        title: 'Juego Tarzan',
        description: 'Proyecto del segundo ciclo de la universidad desarrollado para el curso de programación 2 en el cual se logra realizar el uso de sprints para poder tener un juego más fluido',
        link: '#',
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4 mt-4">

    {
        EXPERIENCE.map( exp => (
        <li class="mb-10 ms-5">
            <ExperienceItem { ...exp} />
        </li>
        ))
    }

</ol>
